<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">

    <p>Press the button to Load</p>

    <ul>
        </li>
          <a class="nav-link" href="/api"><div class="btn btn-lg btn-primary btn-block" type="Load"></a>
        </li>
        <h2>Load</h2>
      </ul>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
